{% extends '::connect-base.html.twig' %}
{% block body %}
    <h2>Bienvenue sur Contact's Book</h2>
    <div class="jumbotron">
        Ce site vous permettra de créer votre liste de contact. Vous pourrez l'utiliser à votre guise
        afin de pouvoir enregistrer des contacts et vous rappeler aisément de leur addresse email ou meme de leur téléphone.
    </div>
{% endblock %}